@model Dogbert2.Core.Domain.Task

@{
    ViewBag.Title = "Details";
    ViewBag.NavigationKey = "Task";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
		<li>@Html.ActionLink("Back to List", "Index", new { projectId = Model.Project.Id })</li>
	</ul>
}

@section AdditionalScripts
{
    <link type="text/css" rel="Stylesheet" href="@Url.Css("Tasks.css")" />
}

<fieldset class="display-form">
    <legend>Task</legend>
	<ul>
        <li>
            <div class="display-label">Category</div>
            <div class="display-details">@Model.RequirementCategory.Name</div>
        </li>
        <li>
            <div class="display-label">Worker</div>
            <div class="display-details">@(Model.Worker != null ? Model.Worker.FullName : "Unassigned")</div>
        </li>
		<li>
			<div class="display-label">Description</div>
			<div class="display-details">@Model.Description</div>
		</li>
		<li>
			<div class="display-label">Comments</div>
			<div class="display-details">@Model.Comments</div>
		</li>
		<li>
			<div class="display-label">Complete</div>
			<div class="display-details">@Model.Complete</div>
		</li>
		<li>
			<div class="display-label">DateCreated</div>
			<div class="display-details">@String.Format("{0:g}", Model.DateCreated)</div>
		</li>
		<li>
			<div class="display-label">LastUpdate</div>
			<div class="display-details">@String.Format("{0:g}", Model.LastUpdate)</div>
		</li>
	</ul>
</fieldset>
<fieldset>
    <legend>Requirements</legend>

    @foreach (var requirement in Model.Requirements)
    { 
        <div class="requirement">
            <div class="id">@requirement.Id</div>
            <div class="description">@requirement.Description</div>
        </div>
    }

</fieldset>


