@model IEnumerable<TextType>

@{
	ViewBag.Title = "Text Types";

}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}

<table>
	<thead>
		<tr>
			<th></th>

            <th>Id</th>

			<th>
				Name
			</th>

			<th>
				Description
			</th>

			<th>
				IsActive
			</th>

			<th>
				Order
			</th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">

			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>

            <td>@item.Id</td>

			<td>
				@item.Name
			</td>

			<td>
				@item.Description
			</td>

			<td>
				@item.IsActive
			</td>

			<td>
				@item.Order
			</td>

		</tr>
		odd = !odd;
}
	</tbody>
</table>




