@model Dogbert2.Core.Domain.Project


@{
    ViewBag.Title = Model.Name;
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>

            <li>@Html.ActionLink("Glossary", "Index", "ProjectTerm", new {id=Model.Id}, new {})</li>
            <li>@Html.ActionLink("Sections", "Index", "ProjectSection", new {id=Model.Id}, new {})</li>
            <li>@Html.ActionLink("Requirements", "Index", "Requirement", new {id=Model.Id}, new {})</li>
            <li>@Html.ActionLink("Use Cases", "Index", "UseCase", new {id=Model.Id}, new{})</li>
            <li>@Html.ActionLink("Files", "Index", "File", new { id = Model.Id }, new { })</li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

@section AdditionalScripts
{
    <style type="text/css">
        #srs-container{text-align: center;}
    </style>
}

<fieldset class="display-form">
    <legend>Project</legend>
	<ul>

		<li>
			<div class="display-label">Complexity</div>
			<div class="display-details">@Model.Complexity</div>
		</li>

		<li>
			<div class="display-label">Deadline</div>
			<div class="display-details">@ProjectInfo.ProjectDeadline(Model)</div>
		</li>

		<li>
			<div class="display-label">Begin</div>
			<div class="display-details">@ProjectInfo.ProjectBegin(Model)</div>
		</li>

		<li>
			<div class="display-label">End</div>
			<div class="display-details">@ProjectInfo.ProjectEnd(Model)</div>
		</li>
        		
		<li>
			<div class="display-label">Contact</div>
			<div class="display-details">@Model.Contact</div>
		</li>

		<li>
			<div class="display-label">ContactEmail</div>
			<div class="display-details">@Model.ContactEmail</div>
		</li>

		<li>
			<div class="display-label">Unit</div>
			<div class="display-details">@Model.Unit</div>
		</li>

		<li>
			<div class="display-label">DateAdded</div>
			<div class="display-details">@String.Format("{0:g}", Model.DateAdded)</div>
		</li>

		<li>
			<div class="display-label">LastUpdate</div>
			<div class="display-details">@String.Format("{0:g}", Model.LastUpdate)</div>
		</li>

				<li>
			<div class="display-label">Workgroup(s)</div>
			<div class="display-details">@Model.WorkgroupNames</div>
		</li>

	</ul>

    <div id="srs-container">
    @Html.ActionLink("Generate SRS", "Index", "Srs", new { id=Model.Id, draft=false }, new { @class="large-btn", style="display: inline-block;" })
    @Html.ActionLink("Generate Draft SRS", "Index", "Srs", new { id = Model.Id, draft = true }, new { @class = "large-btn", style = "display: inline-block;" })
    </div>

</fieldset>



