@model Dogbert2.Core.Domain.Project


@{
    ViewBag.Title = "Project Details";
}

@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

<fieldset class="display-form">
    <legend>Project</legend>
	<ul>

		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Name</div>
		</li>

		<li>
			<div class="display-label">Complexity</div>
			<div class="display-details">@Model.Complexity</div>
		</li>

		<li>
			<div class="display-label">Deadline</div>
			<div class="display-details">@String.Format("{0:g}", Model.Deadline)</div>
		</li>

		<li>
			<div class="display-label">ProjectedBegin</div>
			<div class="display-details">@String.Format("{0:g}", Model.ProjectedBegin)</div>
		</li>

		<li>
			<div class="display-label">Begin</div>
			<div class="display-details">@String.Format("{0:g}", Model.Begin)</div>
		</li>

		<li>
			<div class="display-label">ProjectedEnd</div>
			<div class="display-details">@String.Format("{0:g}", Model.ProjectedEnd)</div>
		</li>

		<li>
			<div class="display-label">End</div>
			<div class="display-details">@String.Format("{0:g}", Model.End)</div>
		</li>

		<li>
			<div class="display-label">Contact</div>
			<div class="display-details">@Model.Contact</div>
		</li>

		<li>
			<div class="display-label">ContactEmail</div>
			<div class="display-details">@Model.ContactEmail</div>
		</li>

		<li>
			<div class="display-label">Unit</div>
			<div class="display-details">@Model.Unit</div>
		</li>

		<li>
			<div class="display-label">DateAdded</div>
			<div class="display-details">@String.Format("{0:g}", Model.DateAdded)</div>
		</li>

		<li>
			<div class="display-label">LastUpdate</div>
			<div class="display-details">@String.Format("{0:g}", Model.LastUpdate)</div>
		</li>

		<li>
			<div class="display-label">Hide</div>
			<div class="display-details">@Model.Hide</div>
		</li>

		<li>
			<div class="display-label">WorkgroupNames</div>
			<div class="display-details">@Model.WorkgroupNames</div>
		</li>

	</ul>
</fieldset>



