@model IEnumerable<Workgroup>


@{
	ViewBag.Title = "My Projects";
    ViewBag.NavigationKey = "Project";
    ViewBag.dTable = true;
}

@section SubNav
{
	<ul class='navigation'>
        <li>@Html.ActionLink("Manage", "Manage")</li>
        <li>@Html.ActionLink("Completed", "Completed")</li>
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}

@section AdditionalScripts
{
    <script type="text/javascript">

        $(function () {
            $("#tabs").tabs();
        });

    </script>
}

@if (Model.Count() == 1)
{
    // display the table only
    @Html.Partial("_ProjectTable", Model.FirstOrDefault().ProjectWorkgroups)
}
else
{ 
    // display the tabs
    @Html.Partial("_ProjectTabs", Model)
    
}


