@model IEnumerable<Workgroup>

@{
    ViewBag.Title = "Manage Projects";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to My Projects", "Index", "Project")</li>
	</ul>
}

@section AdditionalScripts
{
    <script type="text/javascript" src="@Url.Script("jquery.tablednd_0_5.js")"></script>

    <script type="text/javascript">

        $(function () {

            $("#tabs").tabs();

            $("table").tableDnD({
                onDragClass: "dragging",
                onDrop: function (table, row) {
                    // re-adjust the odd, even row classes
                    $("tbody tr").removeClass("odd");
                    $("tbody tr").removeClass("even");

                    $("tbody tr:even").addClass("even");
                    $("tbody tr:odd").addClass("odd");

                    var rows = table.tBodies[0].rows;
                    var order = [];
                    $.each(rows, function (index, item) {
                        order.push($(item).data("id"));
                    });

                    var id = $("table").parents(".plist-container").data("id");

                    var url = '@Url.Action("UpdateProjectOrder")';
                    var antiForgery = $('input[name="__RequestVerificationToken"]').val();
                    $.post(url, { workgroupId: id, projectWorkgroupId: order, __RequestVerificationToken: antiForgery }, function (result) {

                        if (result == false) alert("failed to update order");

                    });
                }
            });

        });

    </script>
}

@Html.AntiForgeryToken()

@if (Model.Count() == 1)
{
    @Html.Partial("_ProjectTable", Model.FirstOrDefault().ProjectWorkgroups)
}
else
{ 
    // display the tabs
    @Html.Partial("_ProjectTabs", Model)
    
}