@model IEnumerable<Dogbert2.Core.Domain.Project>

@{
	ViewBag.Title = "Manage Projects";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}

<table class='nolasticon'>
	<thead>
		<tr>
			<th></th>

			<th>Name</th>
			<th>Contact</th>
            <th>Unit</th>
            <th>Complexity</th>
            <th>Start</th>
            <th>End</th>
			<th>Deadline</th>
            <th>Status</th>
			
            <th></th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">

			<td>
				<a href='@Url.Action("Details", new {id=item.Id})'>
					<img src='@Url.Image("details.png")' />
				</a>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>

			<td>@item.Name</td>
			<td>@item.Contact</td>
            <td>@item.Unit</td>
            <td>@item.Complexity</td>
            <td>@ProjectInfo.ProjectBegin(item)</td>
            <td>@ProjectInfo.ProjectEnd(item)</td>
            <td>@ProjectInfo.ProjectDeadline(item)</td>
            <td>@item.StatusCode.Name</td>
				
			<td>
				<a href='@Url.Action("Delete", new { id = item.Id })'>
					<img src='@Url.Image("delete.png")' />
				</a>
			</td>
		

		</tr>
		odd = !odd;
}
	</tbody>
</table>