@model Dogbert2.Models.UseCaseViewModel

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    <fieldset>
	    <legend>Use Case</legend>
	    <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	    <ul>
		    <li><div class="editor-label required">
                    @Html.LabelFor(model => model.UseCase.RequirementCategory)<span>*</span>
                </div>
                <div class="editor-field">
                    @this.Select("UseCase.RequirementCategory").Options(Model.RequirementCategories, x=>x.Id, x=>x.Name).FirstOption("--Select Category--").Selected(Model.UseCase.RequirementCategory != null ? Model.UseCase.RequirementCategory.Id.ToString() : string.Empty)
                    @Html.ValidationMessageFor(model => model.UseCase.RequirementCategory)
                </div>
            </li>
            <li>
			    <div class="editor-label required">
				    @Html.LabelFor(model => model.UseCase.Name)<span>*</span> 
			    </div>
			    <div class="editor-field">
				    @Html.EditorFor(model => model.UseCase.Name)
				    @Html.ValidationMessageFor(model => model.UseCase.Name)
			    </div>
		    </li>
		    <li>
			    <div class="editor-label required">
				    @Html.LabelFor(model => model.UseCase.Description)<span>*</span> 
			    </div>
			    <div class="editor-field">
				    @Html.EditorFor(model => model.UseCase.Description)
				    @Html.ValidationMessageFor(model => model.UseCase.Description)
			    </div>
		    </li>
		    <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UseCase.Roles)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UseCase.Roles)
                    @Html.ValidationMessageFor(model => model.UseCase.Roles)
                </div>
            </li>
	    </ul>
	</fieldset>
    
    @Html.Partial("_UseCasePreconditions")
    
    @Html.Partial("_UseCasePostconditions")
    
    @Html.Partial("_UseCaseSteps")
    
    <fieldset>
        <ul>
            <li>
			    <div class="editor-label"><label>&nbsp;</label></div>
			    <div class="editor-field"><input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index", new { id=Model.Project.Id })</div>
		    </li>
        </ul>
    </fieldset>
}

