@model Dogbert2.Models.UseCaseViewModel

<fieldset>
    
    <legend>Steps</legend>

    <input type="button" id="add-step" value="+ Step" class="addButton" />

    <table id="steps">
        
        <thead>
            <tr>
                <th style="width: 20px;"></th>
                <th style="width: 20px;">#</th>
                <th>Description</th>
                <th style="width: 20px;">Optional</th>
            </tr>
        </thead>

        <tbody>
            @{var steps = Model.UseCase.UseCaseSteps.OrderBy(a => a.Order).ToList();}
            @for (int i = 0; i < steps.Count; i++)
            { 
                <tr data-id='@i'>
                    <td><a href="javascript:;" class="edit-step"><img src='@Url.Image("edit.png")' alt="Edit Use Case Step" /></a>
                        <a href="javascript:;" class="delete-step"><img src='@Url.Image("delete.png")' alt="Delete Use Case Step" /></a>
                        @Html.Hidden(string.Format("UseCase.UseCaseSteps[{0}].Id", i), steps[i].Id, new {@class="id-hdn"})
                    </td>
                    <td class="usecase-order">@steps[i].Order
                        @Html.Hidden(string.Format("UseCase.UseCaseSteps[{0}].Order", i), steps[i].Order, new {@class="order-hdn"})
                    </td>
                    <td>@steps[i].Description
                        @Html.Hidden(string.Format("UseCase.UseCaseSteps[{0}].Description", i), steps[i].Description, new {@class="description-hdn"})
                    </td>
                    <td>@(steps[i].Optional ? "x" : string.Empty)
                        @Html.Hidden(string.Format("UseCase.UseCaseSteps[{0}].Optional", i), steps[i].Optional, new {@class="optional-hdn"})
                    </td>
                </tr>
            }
        </tbody>

    </table>

</fieldset>

<div id="step-dialog" title="Use Case Step" class="dialog">
    
    @Html.Hidden("step-index", -1)

    <ul>
        <li>Description:
            <textarea id="step-description" style="width: 375px; height: 75px;"></textarea>
        </li>
        <li style="margin-top: .75em;">Optional: <input type="checkbox" id="step-optional" />
        </li>
    </ul>

</div>

<div id="step-template" class="template">

    <table>
    <tbody>
    <tr data-id='${Index}'>
        <td><a href="javascript:;" class="edit-step"><img src='@Url.Image("edit.png")' alt="Edit Use Case" /></a>
            <a href="javascript:;" class="delete-step"><img src='@Url.Image("delete.png")' alt="Delete Use Case" /></a>
            @Html.Hidden("UseCase.UseCaseSteps[${Index}].Id", 0, new {@class="id-hdn"})
        </td>
        <td class="usecase-order">${Number}
            @Html.Hidden("UseCase.UseCaseSteps[${Index}].Order", "${Number}", new {@class="order-hdn"})
        </td>
        <td>${Description}
            @Html.Hidden("UseCase.UseCaseSteps[${Index}].Description", "${Description}", new {@class="description-hdn"})
        </td>
        <td>${Optional}
            @Html.Hidden("UseCase.UseCaseSteps[${Index}].Optional", "${OptionalValue}", new {@class="optional-hdn"})
        </td>
    </tr>
    </tbody>
    </table>

</div>