@model Dogbert2.Core.Domain.UseCase

<fieldset class="usecase">
    <legend>@Model.UseCaseId - @Model.Name</legend>

    @if (ViewBag.DisplayButtons != false)
    { 
        @Html.ActionLink("Delete", "Delete", new { id = @Model.Id }, new { @class = "usecase-button" })
        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id }, new { @class = "usecase-button" })
        <div style="clear:both;"></div>
    }                
    
    <div class="info-box">
                
        <h4>Description</h4>
                
        <div>@(!string.IsNullOrWhiteSpace(Model.Description) ? Model.Description : "n/a")</div>

    </div>

    <div class="info-box">
    
        <h4>Roles</h4>

        <div>@(!string.IsNullOrWhiteSpace(Model.Roles) ? Model.Roles : "n/a")</div>

    </div>

    <div class="info-box">
                
        <h4>PreCondition</h4>

        @if (Model.Preconditions.Count == 0)
        {
            <div>n/a</div>
        }
        else
        {
            <ul>
            @foreach (var precondition in Model.Preconditions)
            {
                <li>@precondition.Description</li> 
            }
            </ul>
        }

    </div>

    <div class="info-box">
                
        <h4>PostCondition</h4>

        @if (Model.Postconditions.Count == 0)
        { 
            <div>n/a</div>
        }
        else
        { 
            <ul>
            @foreach(var postcondition in Model.Postconditions)
            {
                <li>@postcondition.Description</li>
            }
            </ul>
        }
                
    </div>

    <div class="info-box">
                
        <h4>Steps</h4>

        <div>
            <ol class="steps">
                @foreach (var s in Model.UseCaseSteps.OrderBy(a => a.Order))
                { 
                    <li><span class="@(s.Optional ? "optional" : string.Empty)">@s.Description</span></li>
                }
            </ol>
        </div>
                
    </div>
</fieldset>



