@model Dogbert2.Models.UseCaseViewModel

@{
    ViewBag.Title = "Create";
}

@section SubNav
{
    <ul class="navigation">
        <li>
	        @Html.ActionLink("Back to List", "Index", new { id=Model.Project.Id })
        </li>
    </ul>
}

@section AdditionalScripts
{
    <script type="text/javascript" src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script type="text/javascript" src="@Url.Script("jquery.tablednd_0_5.js")"></script>
    
    <script type="text/javascript" src="@Url.Script("UseCasePreconditions.js")></script>
    <script type="text/javascript" src="@Url.Script("UseCaseSteps.js")"></script>

    <style type="text/css">
        /* Generic for all controls on page */
        .template {display:none;}
        .dialog ul {list-style:none;}
    </style>

    <script type="text/javascript">
        $(function () {
            $(".addButton").button();

            InitializePrecondition();
        });
    </script>
}

@Html.Partial("_UseCase")