@model Dogbert2.Models.UseCaseViewModel

@{
    ViewBag.Title = "Edit Use Case";
}

@section SubNav
{
    <ul class="navigation">
        <li>
	        @Html.ActionLink("Back to List", "Index", new { id=Model.Project.Id })
        </li>
    </ul>
}

@section AdditionalScripts
{
    <script type="text/javascript" src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script type="text/javascript" src="@Url.Script("jquery.tablednd_0_5.js")"></script>
    <script type="text/javascript" src="@Url.Script("UseCaseScripts.js")"></script>

    <style type="text/css">
        #step-dialog ul { list-style: none;}
    </style>
}

@Html.Partial("_UseCase")