@model IEnumerable<Dogbert2.Core.Domain.Requirement>

@{
	ViewBag.Title = "Requirements";
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "Create", new { id=ViewBag.ProjectId })</li>
        <li>@Html.ActionLink("Categories", "Index", "RequirementCategory", new { id=ViewBag.ProjectId}, new {})</li>
        <li>@Html.ActionLink("Back to Project", "Details", "Project", new { id=ViewBag.ProjectId }, new { })</li>
	</ul>
}


<table class='dt-table'>
	<thead>
		<tr>
			<th></th>
            <th>Id</th>
			<th>
				Description
			</th>
			<th>
				Difficulty
			</th>
            <th>Category</th>
			<th>
				Last Modified
			</th>

			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
            <td>
                @item.RequirementId
            </td>
			<td>
				@item.Description
			</td>
			<td>
				@item.TechnicalDifficulty
			</td>
            <td>
                @item.RequirementCategory.Name
            </td>
			<td>
				@String.Format("{0:g}", item.LastModified)
			</td>
							<td>
						<a href='@Url.Action("Delete", new { id = item.Id })'>
							<img src='@Url.Image("delete.png")' />
						</a>
					</td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>