@model Dogbert2.Core.Domain.ChangeRequest

@{
    ViewBag.Title = "Delete Change Request";
}

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

<fieldset class="display-form">
	<legend>ChangeRequest</legend>
	<ul>
		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Name</div>
		</li>
		<li>
			<div class="display-label">Description</div>
			<div class="display-details">@Html.Raw(Model.Description)</div>
		</li>
		<li>
			<div class="display-label">AffectedRole</div>
			<div class="display-details">@Model.AffectedRole</div>
		</li>
		<li>
			<div class="display-label">TimeToDevelop</div>
			<div class="display-details">@Model.TimeToDevelop</div>
		</li>
		<li>
			<div class="display-label">RequestedBy</div>
			<div class="display-details">@Model.RequestedBy</div>
		</li>
		<li>
			<div class="display-label">RequestedDate</div>
			<div class="display-details">@String.Format("{0:g}", Model.RequestedDate)</div>
		</li>
		<li>
			<div class="display-label">Status</div>
			<div class="display-details">@Model.ChangeRequestStatus</div>
		</li>
		
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<div class="display-label">&nbsp;</div>
			<div class="display-details">
			<input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "Index")
			</div>
		</li>
	</ul>
</fieldset>
}


