@model Dogbert2.Models.ProjectTextViewModel

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    <fieldset>
	    <legend>ProjectText</legend>
	    <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	    <ul>

            <li><div class="editor-label required">@Html.LabelFor(a=>a.ProjectText.TextType)<span>*</span></div>
                <div class="editor-field">
                    @this.Select("ProjectText.TextType").Options(Model.TextTypes, x=>x.Id, x=> x.Name).FirstOption("--Select Text Type--").Selected(Model.ProjectText.TextType != null ? Model.ProjectText.TextType.Id : string.Empty)
                    @Html.ValidationMessageFor(a => a.ProjectText.TextType)
                </div>                
            </li>

		    <li>
			    <div class="editor-label required">
				    @Html.LabelFor(model => model.ProjectText.Text)<span>*</span> 
			    </div>
			    <div class="editor-field" style="width: 85%;">
                    @Html.Partial("_Tokens")
				    @Html.EditorFor(model => model.ProjectText.Text)
				    @Html.ValidationMessageFor(model => model.ProjectText.Text)
			    </div>
		    </li>

		    <li>
			    @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			    <div class="editor-label">&nbsp;</div>
			    <div class="editor-field">
			    <input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index", new { id=Model.ProjectText.Project.Id })
			    </div>
		    </li>
	    </ul>
    </fieldset>
}