@model Dogbert2.Models.RequirementCategoryViewModel

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    <fieldset>
	    <legend>RequirementCategoryViewModel</legend>
	    <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	    <ul>
		    <li>
			    <div class="editor-label required">
				    @Html.LabelFor(model => model.RequirementCategory.Name)<span>*</span> 
			    </div>
			    <div class="editor-field">
				    @Html.EditorFor(model => model.RequirementCategory.Name)
				    @Html.ValidationMessageFor(model => model.RequirementCategory.Name)
			    </div>
		    </li>
		    <li>
                <div class="editor-label">&nbsp;</div>
			    <div class="editor-field">
			        <input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index", new {id =Model.Project.Id})
                </div>
		    </li>
	    </ul>
	</fieldset>
}