@model IEnumerable<Dogbert2.Core.Domain.RequirementCategory>

@{
	ViewBag.Title = "Requirement Categories";
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "Create", new { id=ViewBag.ProjectId })</li>
        <li>@Html.ActionLink("Back to Requirements", "Index", "Requirement", new {id=ViewBag.ProjectId}, new {})</li>
	</ul>
}


<table class='dt-table'>
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th>
				IsActive
			</th>

			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.IsActive
			</td>
							<td>
						<a href='@Url.Action("Delete", new { id = item.Id })'>
							<img src='@Url.Image("delete.png")' />
						</a>
					</td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>